{% extends 'base_cadastro.html' %} {% block title %} Editar perfil - {{editar_profissional.nome_profissional}} {%endblock%}
    
    {%block content %} 
    {% if id == current_user.id %}
    <div style="padding-top:5%;">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h3 class="form-title">Editar perfil</h3>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="nomeProfissional"><i class="bi bi-person-fill"></i></label>
                            <input type="text" name="nome_profissional" id="nome_profissional" placeholder="Nome*" value="{{editar_profissional.nome_profissional}}"/>
                        </div>
                          <div class="form-group">
                            <label for="sobrenomeProfissional"><i class="bi bi-person"></i></label>
                            <input type="text" name="sobrenome_profissional" id="sobrenome_profissional" placeholder="Sobrenome*" value="{{editar_profissional.sobrenome_profissional}}"/>
                        </div>
                        <div class="form-group">
                            <label for="telefoneProfissional"><i class="bi bi-telephone-fill"></i></label>
                            <input type="text" maxlength="15" name="telefone_profissional" id="telefone_profissional" placeholder="Telefone*" value="{{editar_profissional.telefone_profissional}}">
                            <!-- onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" -->
                        </div>
                        <select class="form-select" aria-label="estado_profissional" style="width:60%" id="estado_profissional" name="estado_profissional">
                          <option value="{{editar_profissional.estado_profissional}}" selected>{{editar_profissional.estado_profissional}}</option>
                          <option value="AC">Acre</option>
                          <option value="AL">Alagoas</option>
                          <option value="AP">Amapá</option>
                          <option value="AM">Amazonas</option>
                          <option value="BA">Bahia</option>
                          <option value="CE">Ceará</option>
                          <option value="DF">Distrito Federal</option>
                          <option value="ES">Espírito Santo</option>
                          <option value="GO">Goiás</option>
                          <option value="MA">Maranhão</option>
                          <option value="MT">Mato Grosso</option>
                          <option value="MS">Mato Grosso do Sul</option>
                          <option value="MG">Minas Gerais</option>
                          <option value="PA">Pará</option>
                          <option value="PB">Paraíba</option>
                          <option value="PR">Paraná</option>
                          <option value="PE">Pernambuco</option>
                          <option value="PI">Piauí</option>
                          <option value="RJ">Rio de Janeiro</option>
                          <option value="RN">Rio Grande do Norte</option>
                          <option value="RS">Rio Grande do Sul</option>
                          <option value="RO">Rondônia</option>
                          <option value="RR">Roraima</option>
                          <option value="SC">Santa Catarina</option>
                          <option value="SP">São Paulo</option>
                          <option value="SE">Sergipe</option>
                          <option value="TO">Tocantins</option>
                          <option value="EX">Estrangeiro</option>
                        </select>
                        <br>
                        <div class="form-group">
                            <label for="emailProfissional"><i class="bi bi-envelope-fill"></i></label>
                            <input type="email" name="email_profissional" id="email_profissional" placeholder="E-mail*" value="{{editar_profissional.email_profissional}}"/>
                        </div>
                        <div class="form-group">
                          <label for="usuario_profissional"><i class="bi bi-person-bounding-box"></i></label>
                          <input type="text" name="usuario_profissional" id="usuario_profissional" placeholder="Usuário*" value="{{editar_profissional.usuario_profissional}}"/>
                      </div>
                        <a class="btn btn-primary" href="/portal_profissional" role="button">Voltar</a>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
                <div class="signup-image">
                  <img src="/static/assets/img/psicologia2.png" alt="logar na conta">
                    <a href="#" class="signup-image-link">Já possui uma conta?</a>
                </div>
            </div>
        </div>
        
    </div>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
           Você não tem permissão para acessar essa página.
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
     
         <h2>Acesso negado.</h2>
         <p>Você não pode acessar a página deste usuário.</p>
     
     {% endif %}
     
     
     {% endblock %}


