
{% extends 'base_perfil_profissional.html' %} {% block title %} Cadastre-se - Profissional {%endblock%}

{%block content %} 

<div class="card-box">
         
    <div class="tab-pane show active" id="about-me">

        <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-briefcase mr-1"></i>
            Experiências</h5>

        <ul class="list-unstyled timeline-sm">
            <li class="timeline-sm-item">
                <span class="timeline-sm-date">2015 - 19</span>
                <h5 class="mt-0 mb-1">Psicanálise</h5>
                <p>Empresa 1 Inc.</p>
                <p class="text-muted mt-2">Psicanálise é um campo clínico de investigação teórica da psique humana independente da psicologia, 
                    desenvolvido por Sigmund Freud, médico, que se formou em 1881, 
                    trabalhou no Hospital Geral de Viena e teve contato com o neurologista francês Jean-Martin Charcot, que lhe mostrou o uso da hipnose.</p>

            </li>
            <li class="timeline-sm-item">
                <span class="timeline-sm-date">2012 - 15</span>
                <h5 class="mt-0 mb-1">Transtornos de Ansiedade</h5>
                <p>Empresa 2 Inc.</p>
                <p class="text-muted mt-2">Distúrbio de saúde mental caracterizado por sentimentos de preocupação, ansiedade ou medo que são fortes o bastante para interferir nas atividades diárias.</p>
            </li>
            <li class="timeline-sm-item">
                <span class="timeline-sm-date">2010 - 12</span>
                <h5 class="mt-0 mb-1">Traumas Psicológicos</h5>
                <p>Empresa 3 Inc.</p>
                <p class="text-muted mt-2 mb-0">O trauma psicológico é uma resposta emocional a um evento que deixou feridas na memória e no conceito de identidade de uma pessoa. 
                    Ela pode sentir uma série de emoções negativas logo após o acontecimento terrível ou a longo prazo.</p>
            </li>
        </ul>

    </div>

    </div>
    {%endblock%}