{% extends 'base_portal_cliente.html' %} {% block title %} Portal Cliente {%endblock%}

{%block content %}

<section class="bg-light">
<h3 style="text-align:center">Bem-vindo, {{editar_cliente.nome_cliente}}!</h3>
<table>
      <tr>
      <!-- Aqui também usamos o width para definir a largura e o height para definir a altura -->
        <td>
        <div class="form-group">
            <label for="pesquisa"><i class="bi bi-person-fill"></i></label>
            <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar Atendimento"/>
        </div>
        </td>
        <td>
        <div class="form-group">
        <select class="form-select" aria-label="estado_profissional" style="width:60%" id="estado_profissional" name="estado_profissional">
            <option selected>Estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
          </select>
        </div>
        </td>
        <td>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </td>
    </tr>
</table>
</section>
<!-- <a href="/editar/{{current_user.id}}" class="btn btn-secondary btn-sm">Update Profile</a> -->


{%endblock%}
