{% extends 'base_cadastro_cliente.html' %} {% block title %} Editar perfil - {{editar_cliente.nome_cliente}} {%endblock%}
    
    {%block content %} 
    {% if id == current_user.id %}
    <div style="padding-top:5%;">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h3 class="form-title">Editar perfil</h3>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="nomeCliente"><i class="bi bi-person-fill"></i></label>
                            <input type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome*" value="{{editar_cliente.nome_cliente}}"/>
                        </div>
                        <div class="form-group">
                          <label for="sobrenomeCliente"><i class="bi bi-person-fill"></i></label>
                          <input type="text" name="sobrenome_cliente" id="sobrenome_cliente" placeholder="Sobrenome*" value="{{editar_cliente.sobrenome_cliente}}"/>
                        </div>
                        <!-- <div class="form-group">
                          <label for="idadeCliente"><i class="bi bi-calendar-event"></i></label>
                          <input type="date" name="idade_cliente" id="idade_cliente"/>
                        </div> -->
                    <div class="form-group">
                      <label for="telefoneCliente"><i class="bi bi-telephone-fill"></i></label>
                      <input type="text" maxlength="11" name="telefone_cliente" id="telefone_cliente" onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" placeholder="Telefone*" value="{{editar_cliente.telefone_cliente}}">
                    </div>
                    <div class="form-group">
                    <label for="idadeCliente"><i class="bi bi-calendar-event"></i></label>
                    <input type="text" maxlength="3" name="idade_cliente" id="idade_cliente" onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;" placeholder="Idade*" value="{{editar_cliente.idade_cliente}}">
                    </div>
                      <div class="form-group">
                        <label for="emailCliente"><i class="bi bi-envelope-fill"></i></label>
                        <input type="email" name="email_cliente" id="email_cliente" placeholder="E-mail*" value="{{editar_cliente.email_cliente}}"/>
                      </div>
                        <!--<div class="form-group">
                            <label for="senhaCliente"><i class="bi bi-key-fill"></i></label>
                            <input type="password" name="senha_cliente" id="senha_cliente" placeholder="Senha"/>
                        </div>
                        <div class="form-group">
                            <label for="senhaClienteConfirmar"><i class="bi bi-key"></i></label>
                            <input type="password" name="senha_clienteConfirmar" id="senha_clienteConfirmar" placeholder="Confirme sua senha"/>
                        </div>-->
                        <select class="form-select" aria-label="cliente_recomendadoPagina" style="width:60%" name="cliente_recomendado" id="cliente_recomendado">
                            <option value="{{editar_cliente.cliente_recomendadoPagina}}" selected>{{editar_cliente.cliente_recomendadoPagina}}</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Twitter">Twitter</option>
                            <option value="Indicação">Indicação</option>
                            <option value="Outros">Outros</option>
                        </select>
                        <br>
                        <select class="form-select" aria-label="cliente_tipoAtendimento" style="width:60%" name="tipo_atendimento" id="tipo_atendimento">
                            <option value="{{editar_cliente.cliente_tipoAtendimento}}" selected>{{editar_cliente.cliente_tipoAtendimento}}</option>
                            <option value="Atendimento Psicológico">Atendimento Psicológico</option>
                            <option value="Atendimento Psicopedagógico">Atendimento Psicopedagógico</option>
                            <option value="Atendimento Psiquiátrico">Atendimento Psiquiátrico</option>
                            <option value="Atendimento Psicanalítico">Atendimento Psicanalítico</option>
                            <option value="Reforço Escolar">Reforço Escolar</option>
                            <option value="Outros">Outros</option>
                        </select>
                        <br>
                        <div class="form-group">
                          <textarea class="form-control" name="descricao_cliente" id="descricao_cliente" rows="2" placeholder="Descreva o motivo da sua procura*" value="{{editar_cliente.descricao_cliente}}"></textarea>
                        </div>
                          <a class="btn btn-primary" href="/portal_cliente" role="button">Voltar</a>
                          <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                </div>
                <div class="signup-image">
                  <img src="/static/assets/img/psicologia2.png" alt="logar na conta">
                    <a href="#" class="signup-image-link">Já possui uma conta?</a>
                </div>
            </div>
        </div>
        
    </div>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
           Você não tem permissão para acessar essa página.
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
     
         <h2>Acesso negado.</h2>
         <p>Você não pode acessar a página deste usuário.</p>
     
     {% endif %}
     
     
     {% endblock %}


